<form method="post" action="{{ path('app_centres_delete', {'id': centre.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ centre.id) }}">
    <button class="btn-action delete"><i class="fas fa-trash"></i> Supprimer</button>
</form>
