{% extends 'base.html.twig' %}

{% block title %}Edition Centres{% endblock %}

{% block body %}
    <h1>Edition Centres</h1>

    {{ include('centres/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_centres_index') }}">Retour</a>

    {{ include('centres/_delete_form.html.twig') }}
{% endblock %}
