{% extends 'base.html.twig' %}

{% block title %}Nouveau Provinces{% endblock %}

{% block body %}
    <h1>Nouveau Provinces</h1>

    {{ include('provinces/_form.html.twig') }}

    <a href="{{ path('app_provinces_index') }}"><i class="fa fa-arrow-left"></i> Retour</a>
{% endblock %}
