{% extends 'base.html.twig' %}

{% block title %}Selection Rendez-Vous{% endblock %}

{% block body %}
    <h1>Veuillez fournir les informations nécessaire pour la consultation de votre rendez-vous</h1>

    <form method="get" action="{{ path('app_annulation_rendez_vous') }}">
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="codeRendezVous">
                <span style="font-size: 16px;font-weight: bold; margin-bottom: 5px;">Code de rendez-vous :</span>
            </label>
            <input
                type="text"
                id="codeRendezVous"
                name="codeRendezVous"
                required
                class="form-control"
                autocomplete="off"
            >
        </div>
        <div class="form-group" style="margin-bottom: 15px;">
            <label for="immatriculation">
                <span style="font-size: 16px;font-weight: bold; margin-bottom: 5px;">Immatriculation de votre véhicule :</span>
            </label>
            <input
                type="text"
                id="immatriculation"
                name="immatriculation"
                required
                class="form-control"
                autocomplete="off"
            >
        </div>

        <button type="submit" class="btn-action save">
            <i class="fa fa-calendar"></i> Consulter mon rendez-vous
        </button>
    </form>

{% endblock %}
