{% extends 'base.html.twig' %}

{% block title %}Modification Rendez-Vous{% endblock %}

{% block body %}
    <h1>Veuillez modifier les informations de votre rendez-vous</h1>

    {{ form_start(form) }}
        {{ form_row(form) }}
        <button type="submit" class="btn-action save"><i class="fas fa-save"></i> Valider mes nouvelles informations</button>
        &nbsp;&nbsp;&nbsp;<a href="{{ path('app_selection_rendez_vous') }}" class="btn btn-primary" style="width: 240px;"><i class="fas fa-angle-double-left"></i> Retour au prise de rendez-vous</a>
    {{ form_end(form) }}

{% endblock %}
