{% extends 'base.html.twig' %}

{% block title %}Selection Rendez-Vous{% endblock %}

{% block body %}
    <h1>Veuillez fournir les informations nécessaire pour le rendez-vous</h1>

    {{ form_start(form, {
        method: 'POST',
        action: path('app_rdv_reserver_submitted', { date: date, time: time })
    }) }}
        {{ form_row(form) }}
        <button type="submit" class="btn-action save">
            <i class="fas fa-save"></i> Valider mes informations
        </button>
        &nbsp;&nbsp;&nbsp;<a href="{{ path('app_selection_rendez_vous') }}" class="btn btn-primary" style="width: 240px;"><i class="fas fa-angle-double-left"></i> Retour au prise de rendez-vous</a>
    {{ form_end(form) }}

{% endblock %}
