{% extends 'base.html.twig' %}

{% block title %}Selection Rendez-Vous{% endblock %}

{% block body %}
    <h1>Veuillez fournir les informations nécessaire pour le rendez-vous</h1>

    {{ form_start(form, { method: 'POST', action: path('app_rdv_reserver', { date: date, time: time }) }) }}
        {{ form_row(form) }}
        <button type="submit" class="btn-action save"><i class="fa fa-calendar"></i> Valider mes informations</button>
    {{ form_end(form) }}

{% endblock %}
