<form method="post" action="{{ path('app_jour_speciale_delete', {'id': jour_speciale.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ jour_speciale.id) }}">
    <button class="btn">Supprimer</button>
</form>
