{% extends 'base.html.twig' %}

{% block title %}Edition Jour Spéciale{% endblock %}

{% block body %}
    <h1>Edition Jour Spéciale</h1>

    {{ include('jour_speciale/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_jour_speciale_index') }}">back to list</a>

    {{ include('jour_speciale/_delete_form.html.twig') }}
{% endblock %}
