{% extends 'base.html.twig' %}

{% block title %}New JourSpeciale{% endblock %}

{% block body %}
    <h1>Create new JourSpeciale</h1>

    {{ include('jour_speciale/_form.html.twig') }}

    <a href="{{ path('app_jour_speciale_index') }}">back to list</a>
{% endblock %}
