{% extends 'base.html.twig' %}

{% block title %}Nouveau Jour Spéciale{% endblock %}

{% block body %}
    <h1>Nouveau Jour Spéciale</h1>

    {{ include('jour_speciale/_form.html.twig') }}

    <a href="{{ path('app_jour_speciale_index') }}">back to list</a>
{% endblock %}
