<form method="post" action="{{ path('app_historique_rendez_vous_delete', {'id': historique_rendez_vou.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ historique_rendez_vou.id) }}">
    <button class="btn">Delete</button>
</form>
