{% extends 'base.html.twig' %}

{% block title %}Nouveau Historique de Rendez-Vous{% endblock %}

{% block body %}
    <h1>Nouveau Historique de Rendez-Vous</h1>

    {{ include('historique_rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_historique_rendez_vous_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>
{% endblock %}
