@font-face {
    font-family: 'Monotype Corsiva';
    src: url('/fonts/monotype-corsiva.ttf') format('truetype');
}

.entete {
    font-family: 'Monotype Corsiva', cursive;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #000000;
}

.header-img {
    height: 50px;
}

.header-titre {
    flex: 1;
    text-align: center;
    font-size: 48px;
    margin: 0;
    font-weight: bold;
}

.titre {
    flex: 1;
    margin: 0;
}

.entete img {
    height: 100px;
}