{% extends 'base.html.twig' %}

{% block title %}Nouveau Nombre de Modification Maximum{% endblock %}

{% block body %}
    <h1>Nouveau Nombre de Modification Maximum</h1>

    {{ include('nombre_modification_maximum/_form.html.twig') }}

    <a href="{{ path('app_nombre_modification_maximum_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>
{% endblock %}
