{% extends 'base.html.twig' %}

{% block title %}Nouveau Rendez-Vous{% endblock %}

{% block body %}
    <h1>Nouveau Rendez-Vous</h1>

    {{ include('rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_rendez_vous_index') }}">back to list</a>
{% endblock %}
