{% extends 'base.html.twig' %}

{% block title %}Edition Nombre de Jour Maximum de Rendez-Vous{% endblock %}

{% block body %}
    <h1>Edition Nombre de Jour Maximum de Rendez-Vous</h1>

    {{ include('nombre_jour_maximum_rendez_vous/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_nombre_jour_maximum_rendez_vous_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>

    {{ include('nombre_jour_maximum_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
