{% extends 'base.html.twig' %}

{% block title %}Edit NombreJourMaximumRendezVous{% endblock %}

{% block body %}
    <h1>Edit NombreJourMaximumRendezVous</h1>

    {{ include('nombre_jour_maximum_rendez_vous/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nombre_jour_maximum_rendez_vous_index') }}">back to list</a>

    {{ include('nombre_jour_maximum_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
