{% extends 'base.html.twig' %}

{% block title %}Edition de l'Ouverture du Samedi{% endblock %}

{% block body %}
    <h1>Edition de l'Ouverture du Samedi</h1>

    {{ include('ouverture_samedi/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_ouverture_samedi_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>

    {{ include('ouverture_samedi/_delete_form.html.twig') }}
{% endblock %}
