{% extends 'base.html.twig' %}

{% block title %}Nouveau Ouverture Samedi{% endblock %}

{% block body %}
    <h1>Nouveau Ouverture Samedi</h1>

    {{ include('ouverture_samedi/_form.html.twig') }}

    <a href="{{ path('app_ouverture_samedi_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>
{% endblock %}
