<form method="post" action="{{ path('app_nombre_rendez_vous_par_heure_delete', {'id': nombre_rendez_vous_par_heure.id}) }}" onsubmit="return confirm('Êtes-vous sûre de vouloir supprimer cette élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nombre_rendez_vous_par_heure.id) }}">
    <button class="btn">Supprimer</button>
</form>
