{% extends 'base.html.twig' %}

{% block title %}Nouveau Nombre de Rendez-Vous Par Heure{% endblock %}

{% block body %}
    <h1>Nouveau Nombre de Rendez-Vous Par Heure</h1>

    {{ include('nombre_rendez_vous_par_heure/_form.html.twig') }}

    <a href="{{ path('app_nombre_rendez_vous_par_heure_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>
{% endblock %}
