{% extends 'base.html.twig' %}

{% block title %}Edition Durée Limite Avant Rendez-Vous{% endblock %}

{% block body %}
    <h1>Edition Durée Limite Avant Rendez-Vous</h1>

    {{ include('duree_limite_avant_rendez_vous/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('app_duree_limite_avant_rendez_vous_index') }}" class="btn-action back"><i class="fa fa-arrow-left"></i> Retour</a>

    {{ include('duree_limite_avant_rendez_vous/_delete_form.html.twig') }}
{% endblock %}
