{% extends 'base.html.twig' %}

{% block title %}Nouveau Durée Limite Avant Rendez-Vous{% endblock %}

{% block body %}
    <h1>Nouveau Durée Limite Avant Rendez-Vous</h1>

    {{ include('duree_limite_avant_rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_duree_limite_avant_rendez_vous_index') }}">Retour</a>
{% endblock %}
