{% extends 'base.html.twig' %}

{% block title %}New DureeLimiteAvantRendezVous{% endblock %}

{% block body %}
    <h1>Create new DureeLimiteAvantRendezVous</h1>

    {{ include('duree_limite_avant_rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_duree_limite_avant_rendez_vous_index') }}">back to list</a>
{% endblock %}
