<header class="entete">
    <img src="/images/logo_gn.png" alt="Gauche" class="header-img">
    <span class="header-titre">DIRECTION GENERALE DE LA SECURITE ROUTIERE</span>
    <img src="/images/logo_dgsr.png" alt="Droite" class="header-img">
</header>