<header class="entete">
    <img src="/images/logo_gn.png" alt="Gauche" class="header-img">
    <h1 class="header-titre">DIRECTION GENERALE DE LA SECURITE ROUTIERE</h1>
    <img src="/images/logo_dgsr.png" alt="Droite" class="header-img">
</header>