{% extends 'base.html.twig' %}

{% block title %}Nouveau Nombre de Véhicule Maximum par Rendez-Vous{% endblock %}

{% block body %}
    <h1>Nouveau Nombre de Véhicule Maximum par Rendez-Vous</h1>

    {{ include('nombre_vehicule_maximum_rendez_vous/_form.html.twig') }}

    <a href="{{ path('app_nombre_vehicule_maximum_rendez_vous_index') }}">back to list</a>
{% endblock %}
